@import "./variable.scss";
.main {
  margin-left: 200px;
}

.sidenav {
  overflow-x: hidden;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $secondary-color;
  height: 100%;
  .header {
    color: $primary-color;
    text-align: center;
    margin: 20px;
    span {
      padding: 0 30px 0 0;
      font-family: "merck";
    }
  }
  ul {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    li {
      display: flex;
      overflow: hidden;
      border-radius: 4px;
      height: 40px;
      white-space: pre;
      margin-bottom: 8px;
      text-decoration: none;
      -webkit-box-pack: justify;
      justify-content: space-between;
      transition: all 150ms ease-in 0s;
      color: $primary-color;
      a {
        display: flex;
        overflow: hidden;
        border-radius: 4px;
        height: 30px;
        white-space: pre;
        margin-bottom: 8px;
        text-decoration: none;
        -webkit-box-pack: justify;
        justify-content: space-between;
        transition: all 150ms ease-in 0s;
        text-transform: none;
        font-size: 1rem;
        color: $primary-color;
        &:hover {
          color: $primary-color;
        }
        span {
          margin-left: 15px;
        }
      }
    }
    .pages {
      white-space: normal;
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
.navbar {
  overflow: hidden;
  box-shadow: 0px 6px 9px #888888;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: $secondary-color;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  &:hover {
    color: $secondary-color;
  }
}
.sidebar-item {
  font-size: 12px;
  display: block;
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open {
  .sidebar-content {
    height: auto;
    color: $primary-color;
    position: absolute;
  }
  .subsidebarmenu {
    width: 100%;
    position: absolute;
    background: rgb(84 98 145 / 96%);
    margin-left: -16px;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $primary-color;
  border-radius: 10px;
  background-color: $primary-color;
}
::-webkit-scrollbar-thumb {
  background: rgb(84 98 145 / 96%);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: $secondary-color;
}
.card {
  box-shadow: 0px 3px 6px #888888;

  p {
    font-size: 12px;
  }
}
